@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);


body {
  font-family: "museo-sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #828282;
  background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "museo-sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  color: #2f2f2f;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #98978b;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 32px;
}
h2,
.h2 {
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  font-size: 18px;
  padding-top: 50px;
  line-height: 35px;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: inherit;
  text-transform: uppercase;
}
h3,
.h3 {
  font-size: 20px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
  letter-spacing: -0.3px;
  font-family: inherit;
}
h4,
.h4 {
  font-size: 14px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 20px;
}
a, a:focus, a:active {
   outline: 0;
}

/* Navbar styles */
.navbar-default {
    background-color: #fff;
    box-shadow: 0 7px 15px -7px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.08);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.08);
    box-shadow: 0 1px 0 rgba(0,0,0,.08);
}

.navbar-default .navbar-nav > li > a {
    color: #333;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #3f9df3;
    background-color: transparent;
}

.navbar .nav > li > a {
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #2f2f2f;
    opacity: 1;
    padding: 0;
    margin: 0 16px;
    letter-spacing: 0.5px;
    line-height: 1;
    text-transform: uppercase;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    font-size: 13px;
    opacity: 1;
    padding: 0 16px;
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 1;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    font-weight: 900;
    letter-spacing: -0.1px;
    line-height: 100px;
}

.navbar {
  min-height: 100px;
}

.navbar-nav {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover{
    color: #1f1f1f;
    font-weight: bold;
    font-size: 26px;
    font-weight: 900;
    font-size: 22px;
    line-height: 100px;
    height: 100px;
    text-transform: uppercase;
    margin: 0;
    margin-left: 0!important;
    display: block;
    float: left;
    letter-spacing: -0.7px;
    text-decoration: none!important;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.navbar-brand {
    float: left;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    height: 60px;
    margin-top: 3px;
}

.navbar {
    border-width: 0px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Masthead styles */

#masthead {
  position: relative;
  display: block;
  margin-top: 100px;
  background-color: #2f2f2f;
  height: 500px;
  /*background-image: url('../images/headerbg.jpg');
  background-attachment: fixed;
  background-position: center 70px;*/
}

#masthead h1 {
  font-size: 30px;
  line-height: 45px;
  padding-top: 115px;
  text-align: center;
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
  color: #2f2f2f;
  font-size: 34px;
  letter-spacing: -0.7px;
}

#masthead p {
  padding-top: 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
  letter-spacing: -0.2px;
  margin-top: 0;
  color: #fff;
  margin: auto;
  margin-bottom: 60px;
  text-transform: none;
  text-align: center;
  margin-top: 25px;
  max-width: 650px;
  font-size: 18px;
  line-height: 1.4;
}

#masthead .well {
 margin-top:8%;
}

#masthead .cta-button {
  text-align: center;
  display: block;
  margin-top: 50px;
  background-color: transparent;
  border: none;
  width: 200px;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
}

#masthead .cta-button a {
  color: #FFF;
  text-decoration: none;
  line-height: 40px;
  display: block;
  width: 200px;
  text-transform: uppercase;
  height: 52px;
  border: 2px solid white;
  border-radius: 0;
  display: block;
  margin: auto;
  letter-spacing: 1px;
  line-height: 50px;
  color: white;
  background: #3f9df3;
  font-size: 12px;
  border: 2px solid #3f9df3;
  font-weight: bold;
  -webkit-transition: 0.3s!important;
  -moz-transition: 0.3s!important;
  -ms-transition: 0.3s!important;
  -o-transition: 0.3s!important;
  transition: 0.3s!important;
  text-align: center;
  font-weight: 900;
}

#masthead .cta-button a:hover {
  color: #3f9df3;
  background: transparent;
}

#masthead .cta-button:hover {
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 34px;
    color: #fff;
  }
}


/* Left sidebar styles */
.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top: 90px;
    width: 228px;
  }

  #sidebar.affix {
    position: fixed;
    top: 110px;
    width: 228px;
  }
}
#sidebar .sidebar-heading {
    padding: 10px 15px;
  background-color: #3E3F3A;
  color: #FFF;
  border-right: 1px solid #3E3F3A;
}

#sidebar .sidebar-heading a {
  color: #FFF;
}

#sidebar .sidebar-heading a:hover {
  background-color: #3E3F3A;
  color: #FFF;
}

#sidebar .sidebar-heading.active {
  border: 0px;
  color: #FFF;
  background-color: #3E3F3A;
}

#sidebar .sidebar-heading a:focus {
  background-color: #3E3F3A;
}

#sidebar .sidebar-heading.active a {
  font-weight: 400;
}

#sidebar .sidebar-heading > a {
    padding: 0px;
}

#sidebar .sidebar-heading:after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 16px;
    width: 13px;
    height: 9px;
    background: url('../images/chevron.svg') no-repeat scroll center top transparent;
}

#sidebar li a {
  color: #2f2f2f;
  ding-left: 15px;
  font-size: 13px;
  color: inherit;
  list-style-type: none;
  line-height: 32px;
  padding: 0;
  color: #2f2f2f;2
  u
  text-transform: uppercase;
  font-weight: 900;
}

#sidebar li a:before {
    content: "â€º";
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    margin-right: 10px;
    display: none;
}

#sidebar li a:hover {
  color: #3f9df3;
  opacity: 1;
  background: transparent;
  font-weight: 900;
}

#sidebar li.active a {
  font-weight: 900;
  color: #3f9df3;
}

#sidebar li.active {
}

#sidebar li a:focus {
  background-color: transparent;
}

/* Content styles */

#mainContent {
  margin-bottom: 80px;
}

#mainContent img {
  max-width: 100%;
  margin: 15px 0;
}

.bg-warning {
    background-color: #FF851B;
    padding: 10px 15px;
    border-radius: 4px;
    margin: 20px 0;
}

.first-heading-item {
  margin-top: 90px;
}

.footer {
  background-color: #1f1f1f;
  padding: 43px 0;
  color: #fff;
  box-shadow: none;
}

.footer p {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1;
  font-weight: 600;
}

.footer a {
  color: #98978B;
}
.footer a:hover {
  color: #FFF;
  text-decoration: none;
}

.ContentWrapper {background: #fff;box-shadow: none;padding: 40px;margin-top: 90px;border-radius: 0;padding-top: 0;}

.container hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 40px 0;
}

.container a {
color: #3f9df3;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
text-decoration: none;
font-weight:bold;}

.navbar .nav > li > a.menu-item {border: 2px solid #3f9df3;border-radius: 99px;font-size: 12px;font-weight: 700;color: #3f9df3;padding: 0 25px;margin: 25px 0px 0 15px;letter-spacing: 0.3px;text-transform: uppercase;box-sizing: border-box;display: block;float: right;line-height: 48px;-webkit-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;cursor: pointer;border-radius: 0;font-size: 12px;font-weight: 900;padding: 0 30px;margin: 24px 0 0 15px;text-transform: uppercase;box-sizing: content-box;display: block;float: right;-webkit-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;padding: 18px 25px;line-height: 1;cursor: pointer;margin-right: 15px;}

.navbar .nav > li > a.menu-item:hover {
  background: #3f9df3;
  border: 2px solid #3f9df3;
  color: #fff;
}

.container ul {
  list-style-type: none;
  padding-left: 0;
}

.container a:hover {
  text-decoration: underline;
}

.container strong, .container b {
  color: #2f2f2f;
}

#leftCol h5 {
    padding: 0px 0px 25px 0px;
    margin: 5px 0px 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-family: inherit;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 32px;
}
